*

# scm
!.gitignore

# Rust
!actors/
!actors/**/
!actors/**/*.rs
!actors/**/Cargo.toml
!crates/
!crates/**/
!crates/**/*.rs
!crates/**/Cargo.toml
!crates/**/*.toml
!src/
!src/**/
!src/**/*.rs
!Cargo.{toml,lock}#
!clippy.toml

!tests/
!tests/**/
!tests/**/*.rs
!tests/**/Cargo.toml
!tests/**/Cargo.lock
!tests/**/*.feature

# cmd runner
!justfile

# plans
!.plans/
!.plans/**/

# legal
!LICENSE

# agents
!AGENTS.md
!ARCHITECTURE.md
!.ba/
!.ba/**
