*

!.gitignore

# whitelist `src` directories and their children, regardless of place
!actors/**/*.rs
!crates/**/*.rs
!src/
!src/**/
!src/**/*.rs
!Cargo.{toml,lock}#

!justfile
!LICENSE
!AGENTS.md
!ARCHITECTURE.md
